<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class='page-header'>
              <h1>{{title}}</h1>
          </div>
      </div>
  </div>

  <!-- show this view if "show_read_products_html" property of AppComponent is true -->
  <app-read-products 
      *ngIf="show_read_products_html" 
      (show_read_products_event)="showReadProduct($event)" 
      (show_create_product_event)="showCreateProduct($event)" 
      (show_read_one_product_event)="showReadOneProduct($event)"
      (show_update_product_event)="showUpdateProduct($event)" 
      (show_delete_product_event)="showDeleteProduct($event)">
  </app-read-products>

  <app-create-product
      *ngIf="show_create_product_html"
      (show_create_product_event)="showCreateProduct($event)"
      (show_read_products_event)="showReadProduct($event)">
  </app-create-product>

  <app-read-one-product 
      *ngIf="show_read_one_product_html" 
      [product_id]="product_id"
      (show_read_one_product_event)="showReadOneProduct($event)"
      (show_read_products_event)="showReadProduct($event)">
  </app-read-one-product>

  <app-update-product 
      *ngIf="show_update_product_html" 
      [product_id]="product_id" 
      (show_update_product_event)="showUpdateProduct($event)"
      (show_read_products_event)="showReadProduct($event)">
  </app-update-product>

  <app-delete-product 
      *ngIf="show_delete_product_html" 
      [product_id]="product_id" 
      (show_delete_product_event)="showDeleteProduct($event)"
      (show_read_products_event)="showReadProduct($event)" >
  </app-delete-product>

</div>